<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>OpenSprints Stats</title>
    <%= stylesheet_link_tag 'http://opensprints.org/stylesheets/screen.css' %>
    <%= stylesheet_link_tag 'http://opensprints.org/stylesheets/application.css' %>
    <%= stylesheet_link_tag 'screen' %>
  </head>
  <body class="<%= body_class %>">
    <div class="container"> 
      <div class="span-5 append-1 menu">
        <div class="header"><a href="http://opensprints.org"><img src="http://opensprints.org/images/logo_with_text.png" /></a></div>
        <ul>
          <li>
            <a href="http://opensprints.org/about.html">ABOUT</a>
          </li>
          <li>
            <a href="http://opensprints.org/news">NEWS</a>
          </li>
          <li>
            <a href="http://wiki.opensprints.org">DOCUMENTATION</a>
          </li>
          <li>
            <a href="http://opensprints.org/forum">SUPPORT &amp; DISCUSSION</a>
          </li>
          <li>
            <a href="http://opensprints.org/downloads.html">DOWNLOADS</a>
          </li>
          <li>
            <span>STATS</span>
          </li>
          <li>
            <a href="http://store.opensprints.org/">PRODUCTS</a>
          </li>
          <li class="louder">
            <a href="http://opensprints.org/contact.html">CONTACT</a>
          </li>
        </ul>
      </div>
      <div class="intro span-15">
        <div class="header_clear"></div>
      

        <%= render :partial => 'layouts/flashes' -%>
        <%= yield %>
        <%= render :partial => 'layouts/javascript' %>
      </div>
    </div>
  </body>
</html>
